@use "../abstracts/" as *;

.award {
    padding: pxToRem(20) 0;
    @include color($background: $background-award-color);
    @include flex($display: flex, $align: center, $gap: pxToRem(10));

    .award-list {
        margin: auto;
        @include flex($display: flex, $align: center, $justify: space-between, $gap: pxToRem(20));

        .content_line {
            @include flex($display: flex, $align: center);
            @include size($width: pxToRem(100), $height: pxToRem(76));
            margin: 0 0 300px -30px;


            p {
                span {
                    @include color($color: $background-color);
                    @include font($font-family: $fourth-font, $font-size: pxToRem(24), $font-weight: 400, $font-style: italic, $line-height: pxToRem(32));
                    opacity: 50%;
                }

                transform: rotate(-90deg);
            }

            hr {

                @include color($color: $background-color);
                @include size($height: pxToRem(24));
                opacity: 50%;
                transform: rotate(-90deg);
            }
        }

        ul {
            @include flex($display: flex, $gap: pxToRem(24), $direction: column);

            li {
                @include color($color: $text-color-second);
                @include size($width: pxToRem(251));
                @include flex($display: flex, $align: center);

                p {
                    @include size($width: pxToRem(141), $height: pxToRem(48));
                    margin-left: pxToRem(10);
                }

            }

            li:nth-child(3) {
                p {
                    @include size($width: pxToRem(101), $height: pxToRem(48));
                }
            }
        }

        @include tablet {
            margin: auto;
            @include size($width: 80%);


            ul {
                @include flex($display: flex, $align: center, $direction: row, $wrap: wrap);

                li {
                    @include size($width: 47%);
                    @media screen and (max-width: pxToRem(611)){
                        @include size($width: 70%);
                    }
                }

                margin-right: pxToRem(-40);
                padding-left: pxToRem(30);

            }

            .content_line {
                @include size($width: pxToRem(136));
                margin: auto;

                p {
                    margin-left: pxToRem(-30);
                }

                hr {
                    @include size($height: pxToRem(64));
                    margin-left: pxToRem(30);
                }
            }
        }

        @include desktop {
            margin: auto;
            @include flex($gap: pxToRem(120));
            @include size($width: pxToRem(1216), $height: pxToRem(80));

            ul {
                padding: 0;
                @include flex($display: flex, $align: center, $direction: row);
            }

            .content_line {
                hr {
                    @include size($height: pxToRem(64));
                    margin-left: pxToRem(30);
                }

                margin-top: pxToRem(300);

            }
        }
    }
}
