@use "../abstracts/" as *;

.btn {
    @include color($color: $background-color, $background: $active-element-color);
    @include boder($boder: none);
    @include size($width: pxToRem(138), $height: pxToRem(44));

    .btn-content {
        display: inline-block;
        text-align: center;
    }

    .img-content {
        margin-bottom: pxToRem(-5);
    }

    &:hover {
        transform: scale(1.1);
    }
}
