@use "../abstracts/" as *;

.list-metric {
    @include flex($display: flex, $align: center, $gap: pxToRem(16));

    .list-metric--contentA {
        @include font($font-family: $fourth-font, $font_size: pxToRem(48), $font-weight: 400, $line-height: pxToRem(60));
        @include color($color: $background-award-color);


        @include desktop-and-tablet {
            @include font($font_size: pxToRem(60), $line-height: pxToRem(72));

            @media screen and (max-width: pxToRem(558)) {
                @include font($font_size: pxToRem(45), $line-height: pxToRem(68));
            }
        }
    }

    .list-metric--contentB {
        @include font($font-family: $third-font, $font_size: pxToRem(14), $font-weight: 400, $line-height: pxToRem(20));
        @include color($color: $background-award-color);

        @include desktop-and-tablet {
            @include font($font_size: pxToRem(14));
        }
    }

}
