@use "../abstracts/" as *;

.metrics{
    @include flex($display: flex,$direction: column,$gap: 48px);

    .metrics--list{
        margin: auto;
        @include size($width:90%);

        @include desktop{
            @include size($width:85%);
        }

        ul{
            @include flex($display: flex,$direction: column,$gap: 32px);

            @include tablet{
                @include flex($display: flex,$direction: row,$gap:32px);
                li{
                    @include size($width:33%);
                    @include flex($display: flex,$direction: column,$justify: flex-start,$align: flex-start,$gap: 8px);
                    p{
                        margin-left: 0;
                    }
                }
                li:nth-child(1){
                    .contentB{
                        @include size($width: pxToRem(100));
                    }
                }
                li:nth-child(2){
                    .contentB{
                        @include size($width: pxToRem(150));
                    }
                }
                li:nth-child(3){
                    .contentB{
                        @include size($width: pxToRem(170));
                    }
                }
            }
        
            @include desktop{
                @include flex($display: flex,$direction: row,$gap:100px);
                li{
                    @include size($width:33%);
                }
                li:nth-child(1){
                    .contentB{
                        @include size($width: pxToRem(100));
                    }
                }
                li:nth-child(2){
                    .contentB{
                        @include size($width: pxToRem(150));
                    }
                }
                li:nth-child(3){
                    .contentB{
                        @include size($width: pxToRem(170));
                    }
                }
            }  
        }
    }

    .metrics--line{
        margin: auto;
        @include size($width:90%);
        @include desktop{
            @include size($width:85%);
        }
        
        hr{
            @include boder($boder: 1px solid $text-color-second);
        }
        padding-bottom: 40px;
    }
}
