//Variables for responsive
$small:429px;
$mobiles:calc($small - 1px);
$medium: 768px;
$extra-large:1200px;
$desktop: calc($extra-large + 0px);
$tablet: calc($extra-large - 1px);

//Variables color
$background-color:#ffff;
$background-award-color:#2C2C2C;
$text-color-primary:#444444;
$text-color-second: #D9D9D6;
$active-element-color:#996830;

//font
$primary-font: lightOutfit;
$secondary-font: mediumOutfit;
$third-font: regularOutfit;
$fourth-font: regularPlayfairDisplay;