@use "../abstracts/" as *;

@keyframes loop{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

// Start setup style rules for the header section
.header-container {

    .header-top {
        @include size($width: 100%);
        padding: 26px 20px;

        @include tablet {
            padding: 26px 40px;
            @include size($width: 100%);
        }

        @include desktop {
            padding: 26px 112px;
            @include size($width: 100%);
        }

        @include flex($display: flex, $justify: space-between, $align: center);
    }

    .nav-container {
        @include flex($display: flex, $justify: space-between, $gap: pxToRem(16), $align: baseline);

        .nav-ul {
            @include flex($display: none);
        }

        @include tablet {
            .nav-ul {
                @include flex($display: flex);

                @media screen and (max-width: pxToRem(527)) {
                    @include flex($display: none);
                }
            }
        }

        @include desktop {
            .nav-ul {
                @include flex($display: flex);
            }
        }
    }

    // Finish of setup style rules for navigation

    .header-bottom {
        @include size($width: 100%);

        .header-bottom__content {

            @include desktop-and-tablet {
                @include size($width: 100%);
            }

            margin: auto;
            margin-top: pxToRem(82);
            @include size($width: pxToRem(335));

            @include flex($justify: space-between, $align: center, $gap: pxToRem(24));

            .header-bottom__contentA {
                text-align: center;
                @include color($color: $background-award-color);
                @include font($font-family: $fourth-font, $font_size: pxToRem(48), $font-weight: 500, $line-height: pxToRem(60));

                span {
                    font-style: italic;
                }

                @include tablet {
                    margin: auto;
                    @include size($width: 90%);
                }

                @include desktop {
                    @include font($font_size: pxToRem(72), $line-height: pxToRem(96));
                }
            }

            .header-bottom__contentB {
                text-align: center;
                margin-top: pxToRem(24);

                @include font($font-family: $primary-font, $font-size: pxToRem(18), $font-weight: 300, $line-height: pxToRem(32));

                @include tablet {
                    @include size($width: 90%);
                }

                @include desktop {
                    @include size($width: pxToRem(800));
                }

                @include desktop-and-tablet {
                    margin: auto;
                    margin-top: pxToRem(24);
                    @include font($font_size: pxToRem(20), $line-height: pxToRem(32));
                }
            }
        }


        .inner-image {
            position: relative;

            .header-bottom__img {
                @include size($width: 100%, $height: pxToRem(640));

                margin: auto;
                margin-top: pxToRem(80);

                img {
                    @include size($width: 100%, $height: 100%);
                    object-fit: cover;
                }
            }

            .header-bottom__icon {
                
                position: absolute;
                top: pxToRem(-60);
                left: pxToRem(127);
                cursor: pointer;

                @include tablet {
                    left: 42%;
                }

                @include desktop {
                    left: pxToRem(112);
                }

                // &:hover {
                //     transform: scale(1.1);
                //     transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
                // }
                
                animation: loop 10s infinite linear;
            }
        }
    }

    // Finish of setup style rules for header content

}

// Finishing setup style rules for the header section
