<!-- start of footer -->
<footer class="footer">
    <!-- start of footer top -->
    <div class="footer__top">
        <div class="footer__top--divider">
            <hr>
        </div>
        <div class="footer__top__content">
            <div class="footer__top__content--left">
                <p>Kick-start your dream home with us</p>
                <a href="#">Send us a hi</a>
            </div>
            <div class="footer__top__content__right">
                <div class="footer__top__content__right--address">
                    <p class="address1">Brooklyn, New York</p>
                    <p class="address2">962 Fifth Avenue Str, 3rd Floor-Trump Building NY 10006, United State.</p>
                </div>
                <div class="footer__top__content__right--email">
                    <p class="mail1">Email us at</p>
                    <p class="mail2">hello@landify.design</p>
                </div>
                <div class="footer__top__content__right--phone">
                    <p class="phone1">If you're hurry, quick call for us</p>
                    <p class="phone2">+8(663)125-08-59</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer top -->
    <!-- start footer bottom -->
    <div class="footer__bottom">
        <div class="footer__bottom--divider">
            <hr>
        </div>
        <div class="footer__bottom__content">
            <div class="footer__bottom__content--left">
                <p>© 2022 Inteo - Award winning studio. Made with love by <span>Landify</span></p>
            </div>
            <div class="footer__bottom__content--right">
                <div class="footer__bottom__content--right--eyebrow">
                    <p>CONNECT</p>
                    <hr>
                </div>
                <div class="footer__bottom__content--right--icon">
                    <ul>
                        <include src="./components/iconList.html" locals='{
                            "list":["instagram","facebook","youtube","twitter"]
                        }'>
                            
                        </include>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- end of footer bottom -->
</footer>
<!-- end of footer -->
