<main class="main-container">
    <!-- start of section award -->
    <section class="award">
        <div class="award-list">
            <div class="content_line">
                <p class="award-contentA"><span>Awards</span></p>
                <hr>
            </div>
            <ul>
                <include src="./components/awardList.html" locals='{
                    "award":"award-list-li",
                    "list":[{"icon":"german","content":"German Design Award 2021"},
                            {"icon":"gold","content":"Gold A Design Award 2021"},
                            {"icon":"if","content":"If Design Award 2020"},
                            {"icon":"good","content":"Good Design Award 2019"}]
                }'>
                </include>
            </ul>
        </div>
    </section>
    <!-- end of section award -->
    <!-- start of section about -->

</main>