<main class="main-container">
    <!-- start of section award -->
    <section class="award">
        <div class="award-list">
            <div class="content_line">
                <p class="award-contentA"><span>Awards</span></p>
                <hr>
            </div>
            <ul>
                <include src="./components/awardList.html" locals='{
                    "award":"award-list-li",
                    "list":[{"icon":"german","content":"German Design Award 2021"},
                            {"icon":"gold","content":"Gold A Design Award 2021"},
                            {"icon":"if","content":"If Design Award 2020"},
                            {"icon":"good","content":"Good Design Award 2019"}]
                }'>
                </include>
            </ul>
        </div>
    </section>
    <!-- end of section award -->
    <!-- start of section about -->
    <section class="about">
        <div class="about-container">
            <div class="about-content-para">
                <div class="about-us">
                    <hr>
                    <p>ABOUT US</p>
                </div>
                <p class="contentA">We help to bring your <span>dream home</span> to reality</p>
                <p class="contentB">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi.</p>
                <p class="contentC">Tempor dolor elementum tellus non ipsum faucibus. Justo, magna mauris posuere auctor justo. Habitant proin aliquet volutpat leo ultricies. Dui blandit eget vitae turpis ultrices aliquet nunc. Faucibus sit odio bibendum lobortis diam.</p>
            </div>
            <div class="about-content-img">
                <img class="img1" src="../assets/img/pic-about1.png" alt="img about">
                <img class="img2" src="../assets/img/pic-about2.png" alt="img about">
                <img class="img3" src="../assets/icon/ic-badge.svg" alt="icon badge">
            </div>
        </div>
    </section>
    <!-- end section about -->

</main>