<main class="main-container">
    <!-- start of section award -->
    <section class="award">
        <div class="award-list">
            <div class="content_line">
                <p class="award-contentA"><span>Awards</span></p>
                <hr>
            </div>
            <ul>
                <include src="./components/awardList.html" locals='{
                    "award":"award-list-li",
                    "list":[{"icon":"german","content":"German Design Award 2021"},
                            {"icon":"gold","content":"Gold A Design Award 2021"},
                            {"icon":"if","content":"If Design Award 2020"},
                            {"icon":"good","content":"Good Design Award 2019"}]
                }'>
                </include>
            </ul>
        </div>
    </section>
    <!-- end of section award -->
    <!-- start of section about -->
    <section class="about">
        <div class="about-container">
            <div class="about-content__para">
                <div class="about-content__para--us">
                    <hr>
                    <p>ABOUT US</p>
                </div>
                <p class="about-content__para--bigtitle">We help to bring your <span>dream home</span> to reality</p>
                <p class="about-content__para--lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi.</p>
                <p class="about-content__para--lorem">Tempor dolor elementum tellus non ipsum faucibus. Justo, magna mauris posuere auctor justo. Habitant proin aliquet volutpat leo ultricies. Dui blandit eget vitae turpis ultrices aliquet nunc. Faucibus sit odio bibendum lobortis diam.</p>
            </div>
            <div class="about-content__img">
                <figure>
                    <img class="about-content__img--left" src="../assets/img/pic-about1.png" alt="img about">
                </figure>
                <figure>
                    <img class="about-content__img--right" src="../assets/img/pic-about2.png" alt="img about">
                </figure>
                <figure>
                    <img class="about-content__img--badge" src="../assets/icon/ic-badge.svg" alt="icon badge">
                </figure>
            </div>
        </div>
    </section>
    <!-- end section about -->
    <!-- start section metrics -->
    <section class="metrics">
        <div class="metrics--list">
            <ul>
                <include src="./components/metricList.html" locals='{
                    "list":[{"contentA":"100%","contentB":"SATISFITATION CLIENTS"},
                    {"contentA":"250","contentB":"EMPLOYEES ON WORLDWIDE"},
                    {"contentA":"3469","contentB":"PROJECTS COMPLETED ON 60 COUNTRIES"}]
                }'>
                    
                </include>
            </ul>
        </div>
        <div class="metrics--line">
            <hr>
        </div>

    </section>
    <!-- end section metrics -->
    <!-- start section services -->
    <section class="services">
        <div class="services__box">
            <div class="services__box--top">
                <div class="services__box--top--eyebrow">
                    <hr>
                    <p>OUR SERVICES</p>
                </div>
                <div class="services__box--top--title">
                    <p>We provide the <span>best solutions</span> for your dream home</p>
                </div>
            </div>
            <div class="services__box--item">
                <ul>
                    <include src="./components/box.html" locals='{
                        "list":[{"icon":"service3","contentA":"Architectural & Interior design","contentB":"Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies."},
                                {"icon":"service1","contentA":"Building Renovation","contentB":"Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies."},
                                {"icon":"service2","contentA":"Construciton Management","contentB":"Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies."}]
                    }'>
                        
                    </include>
                </ul>
            </div>
        </div>
    </section>
    <!-- end of section services -->
    <!-- start section works -->
    <section class="works">
        <div class="works__box">
            <div class="works__box--col1">
                <div class="works__box--col1--content">
                    <div class="works__box--col1--eyebrow">
                        <hr>
                        <p>RECENT WORKS</p>
                    </div>
                    <div class="works__box--col1--title">
                        <p>Some of <span>our crafts</span> made with love</p>
                    </div>
                </div>
                <div class="works__box--col1--project">
                    <ul>
                        <include src="./components/boxwork.html" locals='{
                            "list":[{"image":"work1","contentA":"Villa Furnishing & Interior","contentB":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi."}]
                        }'>
                            
                        </include>
                    </ul>
                </div>
                <div class="works__box--col1-button">
                    <include src="./components/button.html" locals='{
                        "btn":"btn",
                        "list":[{"content":"CONTACT US","icon":"button"}]
                    }'>
                        
                    </include>
                </div>
            </div>
            <div class="works__box--col2">
                <div class="works__box--col2--project">
                    <ul>
                        <include src="./components/boxwork.html" locals='{
                            "list":[{"image":"work2","contentA":"Luxury Hotel Renovation","contentB":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam."},
                                    {"image":"work3","contentA":"Residence Swimming Pool","contentB":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam."}]
                        }'>
                            
                        </include>
                    </ul>
                </div>
                <div class="works__box--col2--button">
                    <include src="./components/button.html" locals='{
                        "btn":"btn",
                        "list":[{"content":"CONTACT US","icon":"button"}]
                    }'>
                       
                </div>
            </div>
        </div>
    </section>
    <!-- end of section works -->

</main>
